.formContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 2%;
    height: min-content;
    padding: 0.5%;
}

.formLabel {
    font-size: 20px;
}

.formInput {
    border-radius: 10px;
    padding: 1em;
    font-size: 16px;
}

.submit {
    padding: 0.5em 4em;
    border-radius: 1000px;
    font-size: 20px;
    margin: auto;
    align-self: center;
    background: transparent;
    margin: 0.5%;
}

.submit:hover {
    background-color: #d1d0d5;
}
