.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12%;
    font-family: "Lato", sans-serif;
    overflow: hidden;

    --triangle-height: 345px;
    --triangle-width: 415px;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0 3%;
        overflow: auto;
    }
}

.filledDot {
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.emptyDot {
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: white;
    border: 4px solid black;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-top: 3%;
}

.bigLogo {
    position: fixed;
    object-fit: contain;
    z-index: -1;
    opacity: 0.05;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.thickBorder {
    border: 5px solid black;
    border-radius: 30px;
}
.triangle {
    display: inline-block;
    width: var(--triangle-width);
    height: var(--triangle-height);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    z-index: 1;
    mask-image: url("/triangle_mask.svg");
    mask-size: 100% 97%;
    mask-position: 50% 80%;
    mask-repeat: no-repeat;
}

.bigTriangle {
    position: absolute;
    left: 50%;
    top: 52.5%;
    transform: translateX(-50%) translateY(-50%);
    width: 32vmax;
    height: 32vmax;
    color: black;
    filter: url("#goo");
}

.bigTriangle::before {
    display: block;
    content: "";
    padding-top: 86%;
    background: currentColor;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.triangleText {
    position: absolute;
    font-size: 3.25vmax;
    top: calc(50% + var(--triangle-height) / 2 + 10px);
    transform: translate(-50%, -50%);
}

.categories {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 12.5px;
    max-height: 200vh;
}

.pill {
    border: 5px solid black;
    border-radius: 1000px;
    flex-grow: 1;
    cursor: pointer;
}

.pill:hover {
    border: 7px solid black;
    margin: -2px;
}

.box {
    border: 5px solid black;
    border-radius: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
    padding-right: 15%;
}

.locationPage {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    background: transparent;
    backdrop-filter: blur(5px);
}

.checkbox {
    font-size: 30px;
    white-space: nowrap;
    margin: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox button {
    width: 1.7em;
    height: 1.7em;
    border: 3px solid black;
    background: white;
    border-radius: 2.75px;
    margin-right: 0.8em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roundedTriangle {
    position: absolute;
    left: 50%;
    top: 50.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.descriptionPage {
    flex-grow: 1;
    display: flex;
    gap: 3%;
    flex-direction: column;
    width: 80%;
    height: 80%;
    align-items: center;
    padding: 3%;
}

@media screen and (max-width: 800px) {
    .descriptionPage {
        width: 90%;
        height: 100%;
    }
}

.textBox {
    border: 3px solid black;
    border-radius: 30px;
    flex-grow: 1;
    resize: none;
    padding: 5%;
    font-size: 24px;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    font-family: "Lato", sans-serif;
}

.textBox::-webkit-scrollbar {
    background: transparent;
    border-radius: 100px;
    width: 15px;
}

.textBox::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 1);
    border-radius: 100px;
}

/* Buttons */
.textBox::-webkit-scrollbar-button:single-button {
    background-color: transparent;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
}
/* Up */
.textBox::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent black transparent;
}

/* Down */
.textBox::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: black transparent transparent transparent;
}

.textBox::-webkit-inner-spin-button,
.textBox::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.backButton {
    position: absolute;
    top: 3%;
    left: 3%;
}

@media screen and (max-width: 600px) {
    .backButton img {
        display: none;
    }
}
