.border {
    border: 5px solid black;
    border-radius: 30px;
}

.thinBorder {
    border: 2px solid black;
    border-radius: 30px;
}

.week {
    display: flex;
    flex-direction: row;
    padding: 3%;
    gap: 10px;
    height: 90vh;
    font-family: "Lato", sans-serif;
}

.day {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.projectList {
    height: 100%;
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
}

.projectList::-webkit-scrollbar {
    display: none;
}

.project {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    list-style: none;
    margin: 10px;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    list-style: none;
    font-size: 22px;
}

.staffList {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 22px;
    white-space: nowrap;
}

.pill {
    border-radius: 1000px;
    background-color: #ffffff49;
}

.newProjectButton {
    position: fixed;
    right: 4%;
    bottom: 4%;
    z-index: 1;
}

.buttonBackground {
    position: absolute;
    z-index: -1;
    background: white;
    border-radius: 26px;
    right: calc(4% + 1.5px);
    bottom: 4%;
    width: 94.521px;
    height: 94.521px;
}
